body
{
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("images/tlo.png");
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}

a
{
    text-decoration: none;
    color: #fff;
}

a:visited
{
    text-decoration: none;
    color: #fff;
}

a:hover
{
    text-decoration: none;
    color: #fff;
}

header
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Alata', sans-serif;
    color: #fff;
}

h1.header
{
    font-size: 56px;
    text-transform: uppercase;
    letter-spacing: 10px;
}
h2
{
    margin-bottom: 30px;
}
main
{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto Mono', monospace;
}

#kafelek0
{
    background-color: #1332d3;
    width: 460px;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 25px;
    padding: 20px;
}

#kafelek0:hover{   background-color: #0221c2;  }
.name
{
    width: 340px;
    float: left;
    font-size: 18px;
}

.icon
{
    float: left;
    font-size: 80px;
}

#kafelek1
{
    background-color: #e33223;
    width: 460px;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 25px;
    padding: 20px;
}

#kafelek1:hover{   background-color: #d22112;  }

#kafelek2
{
    background-color: #13cf6a;
    width: 460px;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 25px;
    padding: 20px;
}

#kafelek2:hover{   background-color: #02be59;  }

#kafelek3
{
    background-color: #721db8;
    width: 460px;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 25px;
    padding: 20px;
}

#kafelek3:hover{   background-color: #610ca7;  }

footer
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center; 
}

#Copyright
{
    font-size: 28px;
    color: #ddd;
}